/* Chat Window */
.chat-window {
    flex-grow: 1;
    width: 100%; /* Full width inside wrapper */
    max-width: 900px; /* Limit width for readability */
    padding: 20px;
    background-color: var(--background-color); /* Maintain background color */
    border-radius: 8px;
    box-shadow: none;
    overflow-y: auto;
    box-sizing: border-box;
    margin-bottom: 80px;
    margin-left: auto; /* Center the chat window */
    margin-right: auto;
    scrollbar-width: thin; /* Keep the scrollbar on the right */
}

/* Scrollbar styling */
.chat-window::-webkit-scrollbar {
    width: 8px;
}

.chat-window::-webkit-scrollbar-thumb {
    background-color: #ccc;
    border-radius: 4px;
}

.chat-window-empty {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    font-size: 18px;
    color: #999;
    text-align: center;
    padding: 20px;
}

.bot-avatar-empty {
    width: 120px; /* Adjust the size as needed */
    margin-bottom: 20px;
}