/* src/styles/Feedback.css */

.feedback {
    display: flex;
    justify-content: flex-end;
    margin-top: 5px;
}

.feedback button {
    background: none;
    border: none;
    cursor: pointer;
    font-size: 18px;
    margin-left: 5px;
    color: #888;
}

.feedback button:hover {
    color: #000;
}
